/* Pon tu código css aqui */
body {
	margin: 0;
	padding: 0;
}
div {
	width: 200px;
	height: 200px;
	position: relative;
	top:15px ;
    left: 30px;
    right: ;
    bottom: ;
}
.pink {
	background-color: #ee3e64;
}
.blue {
	background-color: #44accf;
}
.green {
	background-color: #b7d84b;
}